{% extends 'base.html.twig' %} {% block title %}{{ category.name }}{% endblock
%} {% block body %}
<h1>{{ category.name }}</h1>
{% if programs|length > 0 %}
<h2>Series :</h2>
<ul>
  {% for program in programs %}
  <li>
    {{ program.id }} - {{ program.title }} - {{ program.synopsis }}
    <a href="{{ path('program_show', { id: program.id }) }}">Voir la fiche</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Aucune série trouvée.</p>
{% endif %}
<a href="{{ path('homepage') }}"> Retour à l'accueil </a>
{% endblock %}
